:root{
    --text:#82699d;
    --bg-light:#FFFFFF;
    --text2:#494948;
}
*{
    font-family: 'Segoe UI';
    color: var(--text2);
   
}
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe\ UI.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe\ UI\ Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe\ UI\ Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe\ UI\ Bold\ Italic.woff') format('woff');
    }
    @media only screen and (max-width:790px){
        body{
          
         width: fit-content;
            padding: 0 20px;
        }
        .feature__title img{
            display: none;
        }
        .menu{
            flex-direction: column;
            justify-content: center;
        }
        .carousel-caption h5{
            font-size: 70px;
            
        }
        .carousel-caption p{
            font-size: 20px;
        }
        .col-sm-12{
            width: auto;
        }
        .title{
            justify-content: center;
        }
        .btn__collapse{
            display: block;
        }
        
    }
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.menu__list{
    display: flex;
 
}
.menu__list__item{
    list-style-type: none;
    margin-right: 70px;

}
.menu__list__item a{
    color:var(--text);
    display: block;
    position: relative;
}
.menu__list__item__icon{
    position: absolute;
    left : -25px;
    bottom: 5px;
    
}

.carousel__image{
    object-fit: contain cover;
  
}
.carousel{
    padding: 0px;
    
}
.carousel-caption {
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.carousel-caption h5{
    font-size: 110px;
    text-shadow: -3px 3px #95868f;
}

.carousel-caption p{
    font-size: 30px;
    color: white;
    text-shadow: -3px 3px #95868f;
}
.carousel-control-prev{
    width: 34px;
    height: 65px;
    top:50%;
    transform:translateY(-50%);
    background-color:var(--text);
}
.carousel-control-next{
    width: 34px;
    height: 65px;
    top:50%;
    transform:translateY(-50%);
    background-color:var(--text);
}
.quote{
    font-size: 30px;
    color:var(--text2);
    font-family: 'Segoe UI Italic';
    text-align: center  ;
}
.quote__title{
    font-family: 'Segoe UI Bold Italic';
    color: var(--text);
}
.title{
   
    margin-top: 30px;
    margin-bottom: 50px;
   
}
.title__text{
    margin-top: 50px;
   font-size: 15pt;
   color: var(--text2);
   position: relative;

}
.title__image{
    object-fit: scale-down;
}
.title__text__title{
    font-family: 'Segoe UI Bold';
    color: var(--text);
   font-size: 31pt;

}
.title__text__summary{
    display: block;
    position: relative;
}
.title__text__summary__detail{
    display: block;
    position: absolute;
    right:0;
    bottom: -20px;
    font-size: 13pt;
    color: var(--text2);
}
.feature{
    padding: 0;
    margin-bottom: 60px;
}
.feature__title{
    font-size: 23pt;
    margin-bottom: 45px;
}
.feature__title span{
   font-weight: bolder;

}
.feature__item{
    width: 100%;
    height:auto;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
 
}
.feature__item__list{
    padding: 20px 30px;
 
}
.footer{
    
    background-color:#e8e8e8;
    height: 60px;
}
.footer__item{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item__copyright{
    font-size: 15pt;
}
.footer__item__icon img:first-child{
    margin-right: 15px;
}

.btn__collapse{
 position: fixed;
 top: 1.5rem;
 left: 1.5rem;
 width: 4rem;
 height: 4rem;
 font-size: 1.5rem;
 border-radius: 5rem;
 text-align: center;
 line-height: 4rem;

 color: white;
 cursor: pointer;
 z-index: 10;
 display: none;
 transition:ease-in .5s;
}
.btn__collapse:active{
    background-color:#bdbdbd;
}